
@{
    ViewData["Title"] = "Crear";
    //CREAR NOTA
}

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <form action="/Nota/Crear" method="post">

                    <strong>Titulo</strong>
                    <input class="form-control" name="Titulo" />
                    <label>@Html.ValidationMessage("Titulo")</label>
                    <strong>Contenido</strong>
                    <textarea id="Contenido" name="Contenido"></textarea>
                    <br />
                    <br />
                    <strong>Tags</strong>
                    <br />
                    <select name="tags" id="tags[]" multiple>
                        @foreach (var item1 in ViewBag.cat)
                        {
                            <option value="@item1.Id"> @item1.Nombre </option>

                        }
                    </select>
                    <br />
                    <button class="btn btn-primary">Crear Nota</button>
                </form>
            </div>

        </div>
    </div>
